.DS_Store
inventory/.DS_Store
.vscode/settings.json
variables/qs_device_variables.csv
files/*
inventory/qs_host_vars.yml
# Ignore everything in this directory
output/*
# Except this file
!output/.gitignore
templates/.DS_Store
