[defaults]
inventory = inventory/
host_key_checking = False
callback_whitelist = profile_tasks
#interpreter_python = /usr/local/bin/python3
interpreter_python = /usr/bin/python3

;;for hosts
;; ansible_python_interpreter = /usr/local/bin/python3
;;timeout = 300

[ssh_connection]
;ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
;control_path = /dev/shm/cp%%h-%%p-%%r
;TODO: avoid ssh.cfg
;ssh_args = -F ./files/ssh.cfg -o ControlMaster=auto -o ControlPersist=30m
;ask_pass = True
;private_key_file=/path/to/file.pem
;remote_port = 22
;;timeout = 300

[callback_profile_tasks]
task_output_limit = 40

export ANSIBLE_PERSISTENT_COMMAND_TIMEOUT=300

[persistent_connection]
command_timeout = 300