"http_profile_hsts_base_30min_nosubdomains": {
                    "class": "HTTP_Profile",
                    "hstsInsert": true,
                    "hstsPeriod": 1800,
                    "hstsIncludeSubdomains": false,
                    "hstsPreload": false
                },
                "http_profile_hsts_base_30min_subdomains": {
                    "class": "HTTP_Profile",
                    "hstsInsert": true,
                    "hstsPeriod": 1800,
                    "hstsIncludeSubdomains": true,
                    "hstsPreload": false
                },
                "http_profile_hsts_base_30min_preload": {
                    "class": "HTTP_Profile",
                    "hstsInsert": true,
                    "hstsPeriod": 1800,
                    "hstsIncludeSubdomains": true,
                    "hstsPreload": true
                },
                "http_profile_hsts_base_4hours": {
                    "class": "HTTP_Profile",
                    "hstsInsert": true,
                    "hstsPeriod": 14400,
                    "hstsIncludeSubdomains": true,
                    "hstsPreload": false
                },
                "http_profile_hsts_base_91days": {
                    "class": "HTTP_Profile",
                    "hstsInsert": true,
                    "hstsPeriod": 7862400,
                    "hstsIncludeSubdomains": true,
                    "hstsPreload": true
                },
                "http_profile_hsts_base_5yr": {
                    "class": "HTTP_Profile",
                    "hstsInsert": true,
                    "hstsPeriod": 157680000,
                    "hstsIncludeSubdomains": true,
                    "hstsPreload": true
                }