"DNS": {
            "class": "DNS",
            "nameServers": [
                "{{ item.unit.system_dns_1 }}",
                "{{ item.unit.system_dns_2 }}"
            ],
            "search": [
                "{{ item.unit.hostname_domain }}"
            ]
        }
