"DataBaseVariablesSet": {
            "class": "DbVariables",
            "provision.extramb": {{item.unit.db_provision_extramb}},
            "provision.tomcat.extramb": {{item.unit.db_provision_tomcat_extramb}},
            "provision.restjavad.extramb": {{item.unit.db_provision_restjavad_extramb}},
            "icrd.timeout": 180,
            "restjavad.timeout": 180,
            "restnoded.timeout": 180
        }