{% if item.unit.license_pool is defined and item.unit.license_pool %}
"myLicense": {
            "class": "License",
            "licenseType": "licensePool",
            "reachable": true,
            "licensePool": "{{ item.unit.license_pool }}",
            "bigIpUsername": "{{ item.unit.bigip_user }}",
            "bigIpPassword": "{{ item.unit.bigip_password }}",
            "bigIqHost": "{{ item.unit.bigiq_licenser }}",
            "bigIqUsername": "{{ item.unit.bigiq_user }}"
            "bigIqPassword": "{{ item.unit.bigiq_password }}",
        }
{% endif %}
{% if item.unit.license_key is defined and item.unit.license_key %}
"myLicense": {
            "class": "License",
            "licenseType": "regKey",
            "regKey": "{{ item.unit.license_key }}",
            "revokeCurrent": false
        }
{% endif %}