"SELFIP_DATA_{{ item.unit.self_ip_3_vlan_tag }}_FLOAT_01": {
            "class": "SelfIp",
            "address": "{{ item.unit.self_ip_3_ip_and_cidr_float1 }}",
            "vlan": "{{ item.unit.self_ip_3_vlan_name }}",
            "trafficGroup": "traffic-group-1",
            "allowService": "none"
        },
        "SELFIP_DATA_{{ item.unit.self_ip_3_vlan_tag }}_FLOAT_02": {
            "class": "SelfIp",
            "address": "{{ item.unit.self_ip_3_ip_and_cidr_float2 }}",
            "vlan": "{{ item.unit.self_ip_3_vlan_name }}",
            "trafficGroup": "traffic-group-1",
            "allowService": "none"
        },
        "SELFIP_DATA_{{ item.unit.self_ip_3_vlan_tag }}_FLOAT_03": {
            "class": "SelfIp",
            "address": "{{ item.unit.self_ip_3_ip_and_cidr_float3 }}",
            "vlan": "{{ item.unit.self_ip_3_vlan_name }}",
            "trafficGroup": "traffic-group-1",
            "allowService": "none"
        }