{
    "class": "DO",
    "declaration": {% include "./templates/do_json_template.j2" %},
    "targetUsername": "{{ bigip_user }}",
    "targetHost": "{{ item.unit.hostname }}",
    "targetPassphrase": "{{ bigip_password }}",
    "bigIqSettings": {
{% for ec in devices %}
{%   if (ec.unit.cluster == "yes") and (ec.unit.hostname == item.unit.hostname) %}
        "clusterName": "{{ ec.unit.clustername }}",
{%   endif %}
{% endfor %}
        "conflictPolicy": "USE_BIGIQ",
        "deviceConflictPolicy": "USE_BIGIP",
        "failImportOnConflict": true,
        "versionedConflictPolicy": "KEEP_VERSION"
    }
} 