{
    "class": "DO",
    "declaration": {% include "./do_json_template.j2" %},
    "targetUsername": "{{ item.unit.bigip_user }}",
    "targetHost": "{{ item.unit.hostname }}",
    "targetPassphrase": "{{ item.unit.bigip_password }}",
    "bigIqSettings": {
{%   if (item.unit.cluster == "yes") and (item.unit.hostname == item.unit.hostname) %}
        "clusterName": "{{ item.unit.clustername }}",
{%   endif %}
        "conflictPolicy": "USE_BIGIQ",
        "deviceConflictPolicy": "USE_BIGIP",
        "failImportOnConflict": true,
        "versionedConflictPolicy": "KEEP_VERSION"
    }
}