{
    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-declarative-onboarding/master/src/schema/latest/base.schema.json",
    "schemaVersion": "1.26.0",
    "class": "Device",
    "async": true,
    "controls": {
        "trace": true
    },
    "Common": {
        "class": "Tenant",
         "DNS": {
            "class": "DNS",
            "nameServers": [
                "8.8.8.8",
                "1.1.1.1",
                "9.9.9.9"
            ],
            "search": [
                "domain.local"
            ]
        },
        "System": {
            "class": "System",
            "hostname": "{{ item.unit.hostname }}",
            "autoCheck": true,
            "autoPhonehome": true
        },
        "NTP": {
            "class": "NTP",
            "servers": [
                "pool.ntp.org",
                "0.pool.ntp.org",
                "1.pool.ntp.org"
            ],
            "timezone": "US/Pacific"
        }
    }
}