{
    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-declarative-onboarding/main/src/schema/latest/base.schema.json",
{% if item.unit.do_version is defined and item.unit.do_version %}
    "schemaVersion": "{{ item.unit.do_version }}",
{% else %}
    "schemaVersion": "1.39.0",
{% endif %}
    "class": "Device",
    "async": true,
    "controls": {
        "trace": true
    },
    "Common": {
        "class": "Tenant",
        "Provision": {
            "class": "Provision",
{% if item.unit.provision_ltm is defined and item.unit.provision_ltm == "yes" %}
            "ltm": "nominal",
{% endif %}
{% if item.unit.provision_gtm is defined and item.unit.provision_gtm == "yes" %}
            "gtm": "nominal",
{% endif %}
{% if item.unit.provision_apm is defined and item.unit.provision_apm == "yes" %}
            "apm": "nominal",
{% endif %}
{% if item.unit.provision_asm is defined and item.unit.provision_asm == "yes" %}
            "asm": "nominal",
{% endif %}
            "avr": "nominal"
        },
        {% include "./do_components/do_dns.j2" %},
        {% include "./do_components/do_httpd.j2" %},
        {% include "./do_components/do_sshd.j2" %},
        "System": {
            "class": "System",
            "hostname": "{{ item.unit.hostname }}",
            "autoCheck": true,
{% if item.unit.login_banner is defined %}
        "guiSecurityBanner": true,
        "guiSecurityBannerText": "{{ item.unit.login_banner }}",
{% endif %}
            "autoPhonehome": true
        },
{% if item.unit.syslog_server_1_address is defined %}
        {% include "./do_components/do_syslog.j2" %},
{% endif %}
        {% include "./do_components/do_ntp.j2" %}
    }
}