---
devices:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}

  - unit: 
      hostname: '{{ list[0]|trim()|lower }}'
      device_type: '{{ list[1]|trim() }}'
      role: '{{ list[2]|trim() }}'
      push_do: '{{ list[3]|trim() }}'
      push_as3: '{{ list[4]|trim() }}'
      oob_mgmt_ip: '{{ list[5]|trim() }}'
      mgmt_ip: '{{ list[6]|trim() }}'
      cluster: '{{ list[7]|trim() }}'
      clustername: '{{ list[8]|trim() }}'
      irule1: '{{ list[9]|trim() }}'
      partition1: '{{ list[10]|trim() }}'

{%   endif %}
{% endfor %}


## CSV Header Listings #Coulmn# Name
#0# hostname,
#1# device_type, future use planned - currently f5_bigip or f5_bigiq
#2# role, used to match in creation of declarations - currently bigip used, future bigiq_cm and bigiq_dcd
#3# push_do, this is a "yes" field when it matches, otherwise is a miss (generally put no)
#4# push_as3, this is a "yes" field when it matches, otherwise is a miss (generally put no)

#5# oob_mgmt_ip , used as primary mgmt ip
#6# mgmt_ip , used as inband mgmt ip

#7# cluster , this is a "yes' field when it matches, otherwise a miss, used if part of a cluster 
#8# clustername , this is the name of the cluster as shown in bigiq

#9# irule1, example irule variable used in tests
#10# partition1, example partition (as3 Tenant) variable used in tests

